* {
    box-sizing: border-box;

}
body{
    margin: 0;
    font-family:'Poppins', sans-serif;
}
nav {
    background: #F55A5A;
    display: flex;
    align-items: center;
    padding: 20px;
    margin: auto;
    height: 55px;
    width: 550px;
    left: 0px;
    top: 0px;
    border-radius: 0px;

}
nav > img {
  margin: 5px;
}
.logo-text {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.075em;
    text-align: left;

}